$color-background: #f1f1f1;
$color-success: #4FC046;
$color-info: #6092C4;
$color-warn: #e74635;
$color-dark: #303030;
$color-gray: #5f6c72;

::selection {
    background:$color-dark;
    color: $color-background;
}

::-moz-selection {
    background:$color-dark;
    color: $color-background;
}

::-webkit-selection {
    background: $color-dark;
    color: $color-background;
}


.none-select{
  -moz-user-select:none;/*火狐*/
  -webkit-user-select:none;/*webkit浏览器*/
  -ms-user-select:none;/*IE10*/
  -khtml-user-select:none;/*早期浏览器*/
  user-select:none;
  @extend .cursor-default;
}

a{
  @extend .cursor-pointer;
}

button, .button{
  cursor: pointer;
  @extend .none-select;
  @extend .cursor-pointer;
  border: none;
  outline: none;
}

html, body, .app{
  color:rgba(0,0,0,0.76);
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-size: 16px;
  font-family:"PingFang SC", "Microsoft Yahei", sans-serif;
  @extend .cursor-default;
}

input{
  border:none;
  outline: none;
}

.cursor-default{
  cursor: url('/images/cursor-default.png'), default;
}

.cursor-pointer{
  cursor: url('/images/cursor-pointer.png'), pointer;
}

.none-default-link{
  text-decoration: none;
  color: inherit;
}


@mixin matieral-button($color){
  @extend .cursor-pointer;
  background: lighten($color, 8%);
  transition: all 0.3s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  &:hover{
    background: $color;
    transition: all 0.3s;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  }
}

.matieral-button{
  @include matieral-button($color-info);
}

.root{
  width: 1180px;
  margin: 0 auto;
}

@-webkit-keyframes router-fade-in{
  0%{
    opacity: 0;
    transform: scale3d(0,0,0);
  }
  100%{
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}

@keyframes router-fade-in{
  0%{
    opacity: 0;
    transform: scale3d(0,0,0);
  }
  100%{
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}

.router-fade-in{
  animation: router-fade-in 1s ease-out;
}
