$color-background: #f1f1f1;
$color-success: #6dc067;
$color-info: #9db7c4;
$color-warn: #e74635;
$color-dark: #303030;
$color-gray: #5f6c72;

.none-select{
  -moz-user-select:none;/*火狐*/
  -webkit-user-select:none;/*webkit浏览器*/
  -ms-user-select:none;/*IE10*/
  -khtml-user-select:none;/*早期浏览器*/
  user-select:none;
  @extend .cursor-default;
}

a{
  @extend .cursor-pointer;
}

button, .button{
  cursor: pointer;
  @extend .none-select;
  @extend .cursor-pointer;
  border: none;
  outline: none;
}

html, body, .app{
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-size: 16px;
  font-family: "PingFang SC", "Microsoft Yahei", sans-serif;
  @extend .cursor-default;
}

input{
  border:none;
  outline: none;
}

.cursor-default{
  cursor: url('/images/cursor-default.png'), default;
}

.cursor-pointer{
  cursor: url('/images/cursor-pointer.png'), pointer;
}

.root{
  width: 1180px;
  margin: 0 auto;
}
