.module-modal{
  position:fixed;
  top:0;
  left:0;
  z-index: -1000;
}

.module-modal-show{
  background: rgba(0,0,0,0.8);
  transition: background 0.4s;
  > *{
    transition: transform 0.4s;
    transform: scale3d(1, 1, 1);
  }
}

.module-modal-hide{
  background: rgba(0,0,0,0);
  transition: background 0.4s;
  > *{
    transition: transform 0.4s;
    transform: scale3d(0, 0, 0);
  }
}
